:root {
  --muted: #6b7280;
  --text: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Shared Card Styling */
.card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 8px;
}

.card-header {
  font-size: 11px;
  font-weight: 600;
  color: rgba(242, 248, 255, 0.8);
}

.card-value {
  font-size: 32px;
  text-shadow: 0px 0px 2px var(--muted);
  color: var(--text);
}

.card-label {
  font-size: 22px;
  font-weight: 450;
  text-shadow: 0px 0px 2px var(--muted);
  color: var(--text);
}

.card-info {
  font-size: 24px;
  font-weight: 450;
  text-shadow: 0px 0px 2px var(--muted);
  color: var(--text);
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    filter: brightness(70%);
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    position: relative;
    z-index: 1;
    padding: 40px 20px;
    color: var(--text);
}

/* Top Content */
#topBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    text-shadow: 0px 0px 16px #000000, 0px 0px 2px var(--muted);
}

.Location {
    font-size: 28px;
    font-weight: 400;
}

.Temperature {
    font-size: 72px;
    font-weight: 100;
}

.HL {
    display: flex;
    gap: 8px;
    font-weight: 450;
}

.highTemp, .lowTemp {
    display: flex;
}

/* Mid Content */
#midBanner {
    display: flex;
    gap: 56px;
}

.AirQuality, .Precipitation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 128px 8px 8px;
}

.Wind {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.SunInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.windNum, .gustNum, .directionNum, .sunsetTime, .sunriseTime {
    display: flex;
    justify-content: space-between;
    gap: 120px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(242, 248, 255, 0.8);
}

/* Bottom Content */
#bottomBanner {
    display: flex;
    gap: 56px;
}

.UvInfo, .Humidity, .WeatherAlert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    padding: 8px 128px 8px 8px;
}

.controls {
    display: flex;
    gap: 56px;
}

button {
    font-weight: 550;
    color: rgb(242, 248, 255);
    padding: 8px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: translateY(-2px);
    background: rgba(255, 255, 255, 0.4);
}

/* Form */
.popUpForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;
    z-index: 2;
    width: 500px;
    max-width: 80%;
}

.popUpForm.active {
    transform: translate(-50%, -50%) scale(1);
}

.formHeader {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(242, 248, 255, 0.8);
}

.title {
    font-size: 32px;
    font-weight: bold;
}

.closeBtn {
    outline: none;
    border: none !important;
    background: none !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
    border-radius: 0;
    padding: 0;
    font-size: 32px;
    font-weight: bold;
}

.body {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#countryInput, #cityInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

.submitLocation {
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}

#overlay {
    position: fixed;
    transition: 0.2s ease-in-out;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.65);
    pointer-events: none;
    opacity: 0;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
    z-index: 1;
}
